* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #f4f3f8;
  font-family: "Abel", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em;
}

#navFirst img {
  height: 40px;
}

#navMid {
  display: flex;
  gap: 2em;
  font-size: 1.5em;
  font-weight: 600;
}

#navMid div:nth-child(1) {
  background: linear-gradient(black, black) bottom no-repeat;
  background-size: 100% 2px;
}

#navEnd {
  display: flex;
  gap: 1.5em;
}

#imgMain {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80vh;
  z-index: -1;
}

#midWhole {
  width: 90%;
  margin: auto;
}

#monstera {
  margin-bottom: 20px;
  margin-top: 150px;
  font-size: 5em;
  font-family: sans-serif;
}

li {
  list-style: disc;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.5em;
}

li:nth-child(1) {
  list-style: circle;
}

#midWholePart121 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: #466d50;
  color: #f4f3f8;
  padding: 0.9em 1.8em;
  margin: 1em 0em;
  border-radius: 2em;
  width: fit-content;
  font-size: 0.9em;
}

#midWholePart13 {
  display: flex;
  width: 60%;
  gap: 1em;
  align-items: center;
  margin-top: 80px;
}

.midWholePart13Parts {
  display: flex;
  gap: 1em;
}

.midWholePart13Parts div:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.midWholePart13Parts p {
  font-size: 0.7em;
}

.midWholePart13Parts img {
    height: 4em;
}
